<network ng-repeat="(networkName, network) in networks track by networkName">
  <h4 ng-if="numNetworks > 1" style="margin-bottom: 0.2em; margin-top: 0; font-size: 14px;">{$ networkName $}</h4>
  <dl style="margin-bottom: 0;">
    <dd ng-repeat="fixedAddr in network.fixed">{$ fixedAddr.addr $}</dd>
    <floating-ip ng-if="network.floating.length">
      <dt>{$ ::floatingLabel $}</dt>
      <dd ng-repeat="floatingAddr in network.floating">{$ floatingAddr.addr $}</dd>
    </floating-ip>
  </dl>
</network>
