magic-search-bar {

  .magic-search-bar {
    width: 100%;
  }

  .search-bar {
    border-color: #cccccc;
    border-radius: 0 4px 4px 0;
    margin-bottom: 0;

    i.cancel {
      top: 0.45em;
    }

    .search-main-area {
      margin-left: 0;
      padding-left: 0.2em;

      .item-list {

        .item {
          padding-right: 0.3em;
          padding-top: 0.3em;

          .remove {
            padding-left: 0.3em;
          }

          span, b {
            padding-left: 4px;
          }
        }
      }

      .search-selected {
        padding-right: 0.3em;
      }

      .search-entry {
        height: inherit;

        li {
          cursor: pointer;
        }

        .search-input {
          width: 250px;
          max-width: 250px;

          @include input-placeholder {
           font-weight: normal;
           color: $placeholder-text-color;
          }
        }
      }
    }
  }
}