{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block main %}
  <div ng-controller="instancesCtrl as ctrl">
    <table hz-table ng-cloak
      st-table="ctrl.displayedInstances"
      st-safe-src="ctrl.instances"
      default-sort="created"
      default-sort-reverse="true"
      class="table table-striped table-rsp modern">
      <thead>
        <tr>
          <th class="search-header" colspan="100">
            <magic-search-bar
              filter-callback="ctrl.update"
              filter-facets="ctrl.facets"
              filter-strings="ctrl.filterStrings">
              <action-list class="btn-addon">
                <action ng-controller="LaunchInstanceModalCtrl"
                  action-classes="'btn btn-default'"
                  callback="openLaunchInstanceWizard"
                  item="{ successUrl: '/project/instances/list' }">
                  <span class="fa fa-cloud-upload"></span>
                  {% trans 'Launch Instance' %}
                </action>
              </action-list>
              <action-list class="btn-addon">
                <action action-classes="'btn btn-default btn-danger'"
                  callback="ctrl.terminateInstances"
                  item="selected"
                  disabled="numSelected === 0">
                  <span class="fa fa-trash-o"></span>
                  {% trans 'Terminate Instances' %}
                </action>
              </action-list>
              <action-list class="btn-addon">
                <action action-classes="'btn btn-default'"
                  callback="ctrl.showSettings">
                  <span class="fa fa-cog fa-lg"></span>
                </action>
              </action-list>
            </magic-search-bar>
          </th>
        </tr>
        <tr>
          <th>
            <input type="checkbox"
              hz-select-all="ctrl.displayedInstances"/>
          </th>
          <th st-sort="name" class="rsp-p1" ng-if="ctrl.fields.name.show">{% trans "Instance Name" %}</th>
          <th st-sort="imageName" class="rsp-p2" ng-if="ctrl.fields.imageName.show">{% trans "Image Name" %}</th>
          <th st-sort="ip" class="rsp-p2" ng-if="ctrl.fields.ip.show">{% trans "Networks" %}</th>
          <th st-sort="flavorName" class="rsp-p2" ng-if="ctrl.fields.flavorName.show">{% trans "Flavor" %}</th>
          <th st-sort="key_name" class="rsp-p3" ng-if="ctrl.fields.key_name.show">{% trans "Key Pair" %}</th>
          <th st-sort="status" class="rsp-p1" ng-if="ctrl.fields.status.show">{% trans "Status" %}</th>
          <th st-sort="availability_zone" class="rsp-p2" ng-if="ctrl.fields.availability_zone.show">{% trans "Availability Zone" %}</th>
          <th st-sort="task_state" class="rsp-p1" ng-if="ctrl.fields.task_state.show">{% trans "Task" %}</th>
          <th st-sort="power_state" class="rsp-p3" ng-if="ctrl.fields.power_state.show">{% trans "Power State" %}</th>
          <th st-sort="created" class="rsp-p3" ng-if="ctrl.fields.created.show">{% trans "Created" %}</th>
          <th st-sort="host" class="rsp-p3" ng-if="ctrl.fields.host.show">{% trans "Host" %}</th>
          <th st-sort="owner" class="rsp-p3" ng-if="ctrl.fields.owner.show">{% trans "Owner" %}</th>
          <th st-sort="updated" class="rsp-p3" ng-if="ctrl.fields.updated.show">{% trans "Updated" %}</th>
          <th st-sort="user_id" class="rsp-p3" ng-if="ctrl.fields.user_id.show">{% trans "User ID" %}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="ctrl.displayedInstances.length === 0">
          <td colspan="100">
            <div class="no-rows-help">
              {% trans "No instances available" %}
            </div>
          </td>
        </tr>
        <tr ng-repeat="instance in ctrl.displayedInstances"
          ng-class="{ warning: (instance.task_state !== 'None'), danger: (instance.status === 'error') }">
          <td>
            <input type="checkbox"
              hz-select="instance"
              ng-model='selected[instance.id].checked'/>
          </td>
          <td class="rsp-p1" ng-if="ctrl.fields.name.show"><a href="{$ instance.detailLink $}">{$ instance.name $}</a></td>
          <td class="rsp-p2" ng-if="ctrl.fields.imageName.show">{$ instance.imageName $}</td>
          <td class="rsp-p2" ng-if="ctrl.fields.ip.show"><ip-address networks="instance.networkIps"></ip-address></td>
          <td class="rsp-p2" ng-if="ctrl.fields.flavorName.show">{$ instance.flavorName $}</td>
          <td class="rsp-p3" ng-if="ctrl.fields.key_name.show">{$ instance.key_name $}</td>
          <td class="rsp-p1" ng-if="ctrl.fields.status.show">{$ instance.status | title $}</td>
          <td class="rsp-p2" ng-if="ctrl.fields.availability_zone.show">{$ instance.availability_zone $}</td>
          <td class="rsp-p1" ng-if="ctrl.fields.task_state.show">{$ instance.task_state | title $}</td>
          <td class="rsp-p3" ng-if="ctrl.fields.power_state.show">{$ instance.power_state | decode:ctrl.powerStateMap $}</td>
          <td class="rsp-p3" ng-if="ctrl.fields.created.show"><time am-time-ago="instance.created"></time></td>
          <td class="rsp-p3" ng-if="ctrl.fields.host.show">{$ instance.host $}</td>
          <td class="rsp-p3" ng-if="ctrl.fields.owner.show">{$ instance.owner $}</td>
          <td class="rsp-p3" ng-if="ctrl.fields.updated.show"><time am-time-ago="instance.updated"></time></td>
          <td class="rsp-p3" ng-if="ctrl.fields.user_id.show">{$ instance.user_id $}</td>
          <td>
            <action-list class="btn-group-sm" dropdown>
              <action button-type="split-button" action-classes="'btn btn-default'"
                callback="ctrl.softRebootInstance"
                item="instance">
                {% trans "Soft Reboot" %}
              </action>
              <menu>
                <action button-type="menu-item"
                  callback="ctrl.startInstance"
                  item="instance"
                  disabled="!instance.startAllowed">
                  {% trans "Start" %}
                </action>
                <action button-type="menu-item"
                  callback="ctrl.stopInstance"
                  item="instance"
                  disabled="!instance.stopAllowed">
                  {% trans "Stop" %}
                </action>
                <action button-type="menu-item"
                  callback="ctrl.terminateInstance"
                  item="instance">
                  {% trans "Terminate" %}
                </action>
              </menu>
            <action-list>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100">
            <span class="display">{$ ctrl.displayedInstances.length | itemCount $}</span>
            <div class="text-center"
              st-pagination st-items-by-page="5"
              st-displayed-pages="10"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
