{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block main %}
  <div ng-controller="instancesCtrl as ctrl">
    <table hz-table ng-cloak
      st-table="ctrl.displayedInstances"
      st-safe-src="ctrl.instances"
      class="table-striped table-rsp modern">
      <thead>
        <tr>
          <th class="search-header" colspan="100">
            <magic-search-bar
              filter-callback="ctrl.update"
              filter-facets="ctrl.facets"
              filter-strings="ctrl.filterStrings">
              <action-list class="btn-addon">
                <action ng-controller="LaunchInstanceModalCtrl"
                  action-classes="'btn btn-default'"
                  callback="openLaunchInstanceWizard"
                  item="{ successUrl: '/project/instances/list' }">
                  <span class="fa fa-cloud-upload"></span>
                  {% trans 'Launch Instance' %}
                </action>
              </action-list>
              <action-list class="btn-addon">
                <action action-classes="'btn btn-default btn-danger'"
                  callback="ctrl.terminateInstances"
                  item="selected"
                  disabled="numSelected === 0">
                  <span class="fa fa-trash-o"></span>
                  {% trans 'Terminate Instances' %}
                </action>
              </action-list>
            </magic-search-bar>
          </th>
        </tr>
        <tr>
          <th>
            <input type="checkbox"
              hz-select-all="ctrl.displayedInstances"/>
          </th>
          <th st-sort="name" class="rsp-p1">{% trans "Instance Name" %}</th>
          <th st-sort="imageName" class="rsp-p2">{% trans "Image Name" %}</th>
          <th st-sort="ip" class="rsp-p2">{% trans "IP Address" %}</th>
          <th st-sort="flavorName" class="rsp-p2">{% trans "Size" %}</th>
          <th st-sort="key_name" class="rsp-p3">{% trans "Key Pair" %}</th>
          <th st-sort="status" class="rsp-p1">{% trans "Status" %}</th>
          <th st-sort="availability_zone" class="rsp-p2">{% trans "Availability Zone" %}</th>
          <th st-sort="task_state" class="rsp-p1">{% trans "Task" %}</th>
          <th st-sort="power_state" class="rsp-p3">{% trans "Power State" %}</th>
          <th st-sort="created" class="rsp-p3">{% trans "Created" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="ctrl.displayedInstances.length === 0">
          <td colspan="100">
            <div class="no-rows-help">
              {% trans "No instances available" %}
            </div>
          </td>
        </tr>
        <tr ng-repeat="instance in ctrl.displayedInstances">
          <td>
            <input type="checkbox"
              hz-select="instance"
              ng-model='selected[instance.id].checked'/>
          </td>
          <td class="rsp-p1"><a href="{$ instance.detailLink $}">{$ instance.name $}</a></td>
          <td class="rsp-p2">{$ instance.imageName $}</td>
          <td class="rsp-p2"><ip-address networks="instance.ipAddresses"></ip-address></td>
          <td class="rsp-p2">{$ instance.flavorName $}</td>
          <td class="rsp-p3">{$ instance.key_name $}</td>
          <td class="rsp-p1">{$ instance.status | title $}</td>
          <td class="rsp-p2">{$ instance.availability_zone $}</td>
          <td class="rsp-p1">{$ instance.task_state | title $}</td>
          <td class="rsp-p3">{$ instance.power_state | decode:ctrl.powerStateMap $}</td>
          <td class="rsp-p3"><time am-time-ago="instance.created"></time></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100">Displayed {$ ctrl.displayedInstances.length $} items</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
