{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instances" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Instances") %}
{% endblock page_header %}

{% block main %}
  <div ng-controller="instancesCtrl as ctrl">
    <table hz-table ng-cloak
      st-table="ctrl.displayedInstances"
      st-safe-src="ctrl.instances"
      class="table-striped table-rsp modern">
      <thead>
        <tr>
          <th class="search-header" colspan="100">
            <magic-search-bar
              filter-callback="ctrl.update"
              filter-facets="ctrl.facets"
              filter-strings="ctrl.filterStrings">
              <action-list class="btn-addon">
                <action ng-controller="LaunchInstanceModalCtrl"
                  action-classes="'btn btn-default'"
                  callback="openLaunchInstanceWizard"
                  item="{ successUrl: '/project/instances/list' }">
                  <span class="fa fa-cloud-upload"></span>
                  {% trans 'Launch Instance' %}
                </action>
              </action-list>
            </magic-search-bar>
          </th>
        </tr>
        <tr>
          <th>
            <input type="checkbox"
              hz-select-all="ctrl.displayedInstances"/>
          </th>
          <th st-sort="name">{% trans "Instance Name" %}</th>
          <th st-sort="image.name">{% trans "Image Name" %}</th>
          <th st-sort="ip">{% trans "IP Address" %}</th>
          <th st-sort="full_flavor.name">{% trans "Size" %}</th>
          <th st-sort="key_name">{% trans "Key Pair" %}</th>
          <th st-sort="status">{% trans "Status" %}</th>
          <th st-sort="availability_zone">{% trans "Availability Zone" %}</th>
          <th st-sort="task_state">{% trans "Task" %}</th>
          <th st-sort="power_state">{% trans "Power State" %}</th>
          <th st-sort="created">{% trans "Created" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="ctrl.displayedInstances.length === 0">
          <td colspan="100">
            <div class="no-rows-help">
              {% trans "No instances available" %}
            </div>
          </td>
        </tr>
        <tr ng-repeat="instance in ctrl.displayedInstances">
          <td>
            <input type="checkbox"
              hz-select="instance"
              ng-model='selected[instance.id].checked'/>
          </td>
          <td>{$ instance.name $}</td>
          <td>{$ instance.image.name $}</td>
          <td><ip-address networks="instance.ipAddresses"></ip-address></td>
          <td>{$ instance.full_flavor.name $}</td>
          <td>{$ instance.key_name $}</td>
          <td>{$ instance.status | title $}</td>
          <td>{$ instance.availability_zone $}</td>
          <td>{$ instance.task_state | title $}</td>
          <td>{$ instance.power_state | decode:ctrl.powerStateMap $}</td>
          <td><time am-time-ago="instance.created"></time></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
